[2016-11-10 23:36] nikolaybobrovskiy opened #1 "VueTypes.shape() does not support isRequired for its members"

[2016-11-11 09:47] dwightjack commented on #1
Hi, added that feature, tested and published as v0.5.0

Reopen the issue if you find any problem.

Bye!

[2016-11-11 09:47] #1 closed

[2016-11-11 20:20] nbgo commented on #1
Thank you for quick fix.

[2016-11-11 20:22] nbgo opened #2 "More informative failure notification"
Now it just says:
```VM224:27 [Vue warn]: Invalid prop: custom validator check failed for prop "model".```

Can validator throw with more specific reason of failure instead of simple returning true/false?

[2016-11-11 20:41] dwightjack commented on #2
Can you post the prop shape?

[2016-11-12 18:55] nbgo commented on #2
For example I get the message if ```id``` missed for this prop:
[code]

[2016-11-12 19:09] dwightjack commented on #2
Thank you. At the moment I'm not at the PC. Will check asap

[2016-11-14 10:23] dwightjack commented on #2
Hi,

I've put up a little demo with your type definition and it seems to work: https://jsfiddle.net/dwightjack/xf2k9d6u/

If you have any further detail feel free to post it or to fork the fiddle and adapt it to your scenario.

[2016-11-14 11:25] nbgo commented on #2
Yes, it works when validation result is success. Perhaps I was not clear enought in problem explanation. I mean the case when a validation rule is violated. Then it is desired to see specific info what is wrong instead of some common info "There is some error": https://s3.amazonaws.com/donnicky_screenshots/2016-11-14_14-22-51_52be430e-dc78-4286-83ea-caa3e157d11c.png
As I remember React PropTypes p

[2016-11-14 11:47] dwightjack commented on #2
Ah sorry :)

Not sure I can manage to override the validation error, but I'd be able to set a development warning with specific errors.

Thanks!

[2017-01-24 00:16] nbgo opened #3 "Add VueTypes.date validation"

[2017-01-24 00:20] nbgo commented on #3
`VueTypes.instanceOf(Date)` works, but `VueTypes.date` looks nicer :)

[2017-01-24 02:33] nbgo opened #4 "Array of shape"
Is it possible to do smth like this?
[code]

[2017-01-24 07:09] dwightjack commented on #4
Hi,

Looking at the code I guess it should work, but since I don't have any test for it I'll check it.

[2017-01-24 20:41] nbgo commented on #4
Yes, it works. Problem was that array element had an additional property which was not described in shape. Can be validation made a bit less strict to allow such properties?

[2017-01-24 21:52] dwightjack commented on #4
Hi,

I believe that React PropTypes will fail as well. In my opinion `shape` should describe the full _shape_ of an object. Maybe I could add a `partialShape` type. In you scenario as workaround I suggest to pass to `arrayOf`a custom Vue validation object:

[code]

[2017-01-25 10:17] dwightjack commented on #3
Hi,

thanks for the suggestion. Are there any other useful type you may suggest?

As a side note, I believe the _Vue way_ is to keep the codebase simple and clean. So for this kind of validation I'd suggest using the build-in format and use VueTypes as an utility to quickly implement required and default flags or more complex validations

[code]

This will also improve the performance of the valid

[2017-01-25 10:30] nbgo commented on #3
Ok.

[2017-01-25 10:32] nbgo commented on #4
`partialShape` would be nice.

[2017-02-27 16:13] dwightjack commented on #4
Hi, this should be closed by v0.6.0 whoch implements a `.loose` flag on the `.shape` type.

[2017-02-27 16:13] #4 closed

[2017-02-27 17:31] nikolaybobrovskiy commented on #4
Great! Thank you!

[2017-03-30 14:05] EyMaddis opened #5 "Cannot read property isLoose of undefined when using loose shape"
First of, great library!

The problem ist, that `.shape().loose` is not applicable with the latest version of vue.
in this line `this` is undefined: https://github.com/dwightjack/vue-types/blob/master/src/index.js#L215

Here is the property validation of Vue:
https://github.com/vuejs/vue/blob/01151ce3fa3cb346443d086332ec053c389ee619/src/core/util/props.js#L123

The `this` context is lost, because

[2017-03-30 15:35] #5 closed

[2017-03-30 15:37] dwightjack commented on #5
Hi,

thanks for the issue. I should have fixed it. Try updating to 0.6.1.

Relevant fix is [here](https://github.com/dwightjack/vue-types/blob/master/src/utils.js#L117). I bind each validator function to the object itself. In my tests it seems to work.

[2017-03-30 15:45] EyMaddis commented on #5
Wow, that was super quick!
No, since you did not rebuild the whole package apparently, see
https://github.com/dwightjack/vue-types/blob/master/es/utils.js#L120-L124

[2017-03-30 16:09] dwightjack commented on #5
You're right!

Built and published as 0.6.2.

Thanks for the hint!

[2017-04-03 13:18] EyMaddis opened #6 "shape.loose does not work"
Hi again,
I noticed that `shape({}).loose` does not work. I did some digging and noticed that the [unit test](https://github.com/dwightjack/vue-types/blob/master/test/index.spec.js#L466-L470) is actually incorrect.

I adapted the test to be breaking:
[code]

Test result:

[code]

The problem is that you use `objectAssign({ isLoose: true }, this)` (see [here](https://github.com/dwightjack/vue-types

[2017-04-03 14:39] dwightjack commented on #6
Hi,

you're right. Looks like I messed it up.

In the end the only solution seems to set `isLoose` without creating a new object.
Since that validator function it's the only place where I refer to `this`, I've reverted the previous change by binding the context just on the `shape().loose` modifier.

About creating a new object: I wanted to be as spec compliant as possible to the Vue types definiti

[2017-04-03 14:39] dwightjack commented on #6
By the way. I missed the important part: pushed a new version, let me know if it fixes the problem... sorry for the mess!

[2017-04-03 15:16] EyMaddis commented on #6
@dwightjack It of course makes `.loose` work, but reopens #5 when `not` using `.loose`. Your tests are actually not correct on a bigger scale.
I opened PR #7 to fix this once and for all :)

[2017-04-03 15:55] dwightjack commented on #6
Merged.

Thanks for contributing. :-)

[2017-04-03 16:04] EyMaddis commented on #6
closed through #7

[2017-04-03 16:04] #6 closed

[2017-04-03 16:06] EyMaddis commented on #6
@dwightjack don't forget https://github.com/dwightjack/vue-types/releases ;)

[2017-04-03 16:16] dwightjack commented on #6
Yep sure.

I was thinking about a edge case. If i call something like that:

[code]

The isRequired flag will remove isLoose flags (since they are not enumerable). The solution could be here to ovewrite the `validator` function in the `.loose` flag. This way we'll get rid of the `this` issue. See https://github.com/dwightjack/vue-types/blob/feature/loose/src/index.js#L223

On the other hand I'm wo

[2017-04-03 16:28] EyMaddis commented on #6
So you mean if there would be multiple flags, like `.loose.isRequired.somethingElse`?

By the way, another issue is that the order is important.
I will add a breaking test as a PR.

[2017-04-03 16:40] dwightjack commented on #6
That's the main issue. On `.isRequired` and `.def` I'm duplicating the object with just the enumerable properties. Setting `_VueTypes_isLoose` as enumerable should fix it.

Overwriting the validator function will keep the object clean but the code itself smells...

[2017-04-03 16:45] EyMaddis commented on #6
Why do you duplicate it at all?
I added the `enumerable: false`, just so that Vue cannot see it.

By the way, you maybe could avoid the copying altogether if you prototype-link all the flags. I will write this down in more detail later, as I have to go now.

[2017-04-03 17:19] dwightjack commented on #6
I just reviewed the whole thing.

`.isRequired`, `.def()` and `.loose` are all `enumerable: false` properties. Under the hood they call `Object.assign`, duplicate the source object and reassign not-enumerable modifiers (which are not copied by `Object.assign`).

The rationale behind this was that in a previous version of the library every type was a direct reference to an object. If a flag would a

[2017-04-03 17:25] dwightjack commented on #6
Btw, I'm really appreciating the time you're spending helping on the library. Right now I'm not working on vue.js projects so feedback like yours are very welcome!

[2017-04-03 21:27] EyMaddis commented on #6
you're welcome :)

I thought about my prototype chain idea and noticed that it will probably not work.

You can solve this by letting every base type rule return `new PropValidator()`.

[code]

Following that, each validation rule is required to begin with `VueType.<requiredType>`, but after that, all the additional filter/flags could freely manipulate `this`.
Filters or flags would be added to `P

[2017-04-04 07:41] dwightjack commented on #6
Hi,

yes I'd keep the `toType` approach and enhance a source object with not enumerable custom properties and methods via `defineProperty`.
Right now Vue doesn't check for a plain object in `props`, but to me it looks more clean.

Anyway removing the object cloning is the best option to prevent edge cases.
I like the addition of a `name` or maybe `_vueType_name` property. It could be useful for er

[2017-04-04 07:46] dwightjack opened #9 "Refactoring and enhancements"
Following #6 here are some refactoring ideas:

* [x] don't `Object.assign` source object on `.isRequired`, `.loose` and `.def()` flags
* [x] add a `_vueTypes_name` not-enumerable property specifying type name.
* [x] bind validator function to the source object to prevent loosing the context
* [x] internal properties not related to Vue validation should start with `_vueTypes_`

[2017-04-04 09:46] dwightjack commented on #9
Published under the `1.0.0-beta.1` tag on npm.

Ongoing work is on the [feature/refactor](https://github.com/dwightjack/vue-types/tree/feature/refactor) branch

[2017-04-21 11:59] ThaNarie opened #10 "Why set implicit defaults?"
While I love this library, I wonder why there was chosen to set implicit defaults for a lot of types.
This creates a difference between:
[code]
They are both optional, but one has a value of `undefined` where the other is `""`. Due to this it's not possible to check if someone passed an empty string or omitted the property.

When using this lib, I'd like to just use it everywhere to be consistent,

[2017-04-21 12:23] dwightjack commented on #10
Hi,
thank you for the feedback.

The idea behind vue-types was in fact to have a quick way to set a type with an _empty_ default, while keep using native options for everything else to keep is simple.

I agree that always using vue-types would make the code more consistent.

I'll keep this in mind for the next major version of the library. 😃

[2017-05-27 18:57] dwightjack commented on #9
Published as [1.0.0](https://github.com/dwightjack/vue-types/releases/tag/1.0.0)

[2017-05-27 18:58] #9 closed

[2017-05-27 19:00] dwightjack commented on #10
Hi, I added an option to disable or customize implicit defaults ([docs](https://github.com/dwightjack/vue-types#native-types-configuration)) in version 1.0.0.

I'm closing this issue, If you find any problem please open another issue. Thanks for you feedback!

[2017-05-27 19:00] #10 closed

[2017-05-29 10:31] hjeti opened #11 "sensibleDefaults code is missing in the build versions of v1.0.0"
The new sensibleDefaults code is missing in the dist and es folder of v1.0.0 when installed using npm. I can only find the sensibleDefaults code in the src folder.

[2017-05-29 11:03] dwightjack commented on #11
Weird... It should be processed by the prepublish hook. Will check it later.

[2017-05-29 12:23] dwightjack commented on #11
Ok, didn't understand what happened...

Published a new version 1.0.1.

Let me know if it works

[2017-05-29 12:34] hjeti commented on #11
v1.0.1 fixed the problem. Thanks.

[2017-05-31 11:36] MatteoGabriele opened #12 ".def() doesn't work"
Hi, I'm having some troubles declaring default values in my shape

in this example i'm expecting the `theme` property to be `#E58005` if the object doesn't contain that property, instead my object contains only the properties I add.

[code]

if I receive this object as a prop of my component

[code]
I'm expecting this

[code]

thanks for your time, love this package! :)

[2017-05-31 18:58] #11 closed

[2017-05-31 20:43] dwightjack commented on #12
Hi,

under the hood the `shape` type sets a prop validation object like:

[code]

The only way to get a default shape is to use the `.shape().def()` method, but in that case the default shape will just be used when the prop is missing instead of beeing merged with the partial object.

Anyway this behavior matches the Vuejs docs. What's misleading is that the user can invoke `.def()` without any wa

[2017-06-01 06:07] MatteoGabriele commented on #12
yeah I see what you mean, that would be really powerful though: super useful.

feel free to close the ticket if there's no way to achieve that or at least the warning would be nice :)

speaking about warnings, maybe you prefer a separate ticket, but warning for type checks are not super straight forward in my opinion: what is missing for me is the actual key name.

if i add a prop 'foo' with type

[2017-06-01 07:31] dwightjack opened #13 "More meaningful warning on `.shape` check"
see https://github.com/dwightjack/vue-types/issues/12#issuecomment-305397761

[2017-06-01 07:38] dwightjack commented on #12
Yep, more meaningful warnings would be helpful. Opened #13 about it.

Digging in the source, relevant lines about prop validation are [here](https://github.com/vuejs/vue/blob/dev/src/core/util/props.js#L32). As far as I can see, default values are used just when prop value is `undefined`.

To achieve what you're looking for you could use both props and computed:

[code]

[2017-06-19 11:38] walleXD opened #14 "Validate a prop of type URL"
Hi,

Would it be possible to define a custom type which validates the shape as well content. For example using regular expression to validate URL Any thought on how this would be possible?

Thanks in advance

[2017-06-19 12:25] dwightjack commented on #14
Hi,

there are a couple of way to create a custom validator:

1) Vue builtin [validator function](
  https://vuejs.org/v2/guide/components.html#Prop-Validation):

[code]

2) VueTypes internal `.custom` type generator:

[code]

Option 2) uses an internal, undocumented API method (undocumented because it's not as flexible as i'd like), but has the advantage to add both `.def()` and `isRequired` meth

[2017-06-27 18:49] #12 closed

[2017-06-27 18:49] #14 closed

[2017-06-29 03:56] walleXD commented on #14
Thanks a bunch! This is exactly what i needed ...

[2017-07-24 02:29] nickmessing opened #15 "Is it full 1 to 1 clone of react's prop-types?"
Hello,

We are a small team that started a tiny react2vue converter called [vueact](https://github.com/vueact), I was thinking of using `vue-types` as a replica of `prop-types`, is it 1-to-1 clone?

[2017-07-25 07:32] dwightjack commented on #15
Hi nice project!

Looking at the react prop-types library I spotted the following missing validators:

* `PropTypes.symbol`
* `PropTypes.node` (I believe this could be replaced by `VueTypes.any` in Vue.js)
* `PropTypes.element`

They don't look so difficult to implement, I could add them in the next release.

It's also missing the ability to pass a function as argument to `PropTypes.arrayOf`, whil

[2017-07-25 07:35] dwightjack commented on #15
Ah, one major difference it that VueTypes provide sensible defaults for props.

In order to match React behaviour you can disable those defaults by setting [`sensibleDefaults`] (https://github.com/dwightjack/vue-types#native-types-configuration) to `false`

[2017-08-03 03:06] lmiller1990 opened #16 ".isNullable"
Hi!

First up awesome project, big game changer for my team.

One feature I'd like to see is a `.isNullable` for types. For example, I have component called `SubTab` that can have a prop array of more `SubTabs` that can be null. So I'd like to be able to do something like:

[code]

What do you think? I can look into this within the next week if so.

If there is already something in the API that wi

[2017-08-03 12:20] dwightjack commented on #16
Hi thanks!

that looks doable. Translated to Vue's type validation a nullable type could be configured as an array of types:

[code]

Anyway looking at the [typed sourcecode](https://github.com/vuejs/vue/blob/dev/src/core/util/props.js#L14) it seems that array types accepts just functions/constructors, not `null`. Example [here](https://jsbin.com/jomayor/4/edit?html,js,console,output).

The only w

[2017-08-04 00:09] lmiller1990 commented on #16
Hey,

Thanks for the pointers on how to go about this. I'll have a shot at it on the weekend!

[2017-08-07 00:58] lmiller1990 commented on #16
Had a look, will keep at it this week. A little more tricky that expected but should be doable.

[2017-08-07 05:55] dwightjack commented on #16
Hi, cool!
This week I'm away from home but should be available if you need some hints.
Anyway next week I'll be back at work and I could try something myself as well :-)

[2017-08-14 08:08] cloudyan opened #17 "PropTypes.boolean has some problem"
[code]

[2017-08-14 08:13] dwightjack commented on #17
Hi,

ATM I cannot verify that but I see you're setting the prop without `:` (ie: `<Button :block>`). Vue treats props'value set without `:` as string literals.

[2017-08-15 15:03] nddery opened #18 "Best way to share custom prop types definition ?"
We've been trying to share custom prop type definitions between components with some success. However, when adding `isRequired` to a shared type on a component, it get's applied to all other component using that shared type afterwards, even if they don't specify `isRequired`.

See https://codepan.net/gist/fc23c60fc04574653ad45a1c4aac5f9e

How would you recommend sharing custom prop types between c

[2017-08-16 07:45] dwightjack commented on #18
Hi,

to lower complexity and side effects when using flags, starting from [v1.0.0](https://github.com/dwightjack/vue-types/releases/tag/1.0.0) type objects aren't cloned but extended when using flags.

An option for your scenery would be to leverage the same logic behind builtin types: object getters. This way you could define your own type definitions in one module and use them onto your componen

[2017-08-16 08:18] dwightjack commented on #17
Confirmed. Without the `:` the prop is [cast to string](https://vuejs.org/v2/guide/components.html#Literal-vs-Dynamic).

Moreover it should be better to provide an explicit value for the prop, even if it's a boolean:

[code]

[2017-08-16 08:18] #17 closed

[2017-08-16 13:51] nddery commented on #18
That works beautifully! Thanks!

[2017-08-16 13:51] #18 closed

[2017-08-20 04:33] lmiller1990 commented on #16
Hey. Sorry for going quiet all of a sudden. I notice you assigned this to yourself -- I'm giving it a shot right now, I'm interested in learning more about how Vue checks props either way, if you've made some progress I'd love to see that too! If I get anything done in the next few hours I'll throw you a link to the branch as well.

[2017-08-20 06:13] lmiller1990 commented on #16
Some progress:

Seems reasonably doable, however I'd like to clarify my approach.

Firstly, if we have something like

[code]

This would have to add an implicit `isRequired` as well? If I mark a prop is `isNullable`, what I expect is that is _can_ be null, or else it should fit the other requirements set. Regarding the above example:

` someBool: VueTypes.bool.isNullable`

would mean:

`someBool

[2017-08-20 08:46] dwightjack commented on #16
Hi,

no problem. I assigned the issue to myself just to keep track of it on my todolists, but I didn't have time to work on it.

I get your point. Making the prop required makes sense, because in Vue prop check when a prop is undefined or null and not required it just skips the whole process. Making it required will trigger the validation.

As for the implementation, I think the best solution woul

[2017-08-21 04:05] lmiller1990 commented on #16
Thanks for the pointer. I want to get this done this week! Will keep you updated.

[2017-08-21 06:24] dwightjack commented on #16
Cool! Feel free to ping me for any issue or hint.

[2017-09-16 09:27] lmiller1990 commented on #16
Hey, sorry about the long silence. Fairly busy lately, not sure if/when I'll get around to this. Sorry. If you do end up implementing it, please let me know :)

[2017-09-22 09:41] dwightjack commented on #16
No problem, will keep the issue open for further updates :)

[2017-11-07 12:21] Ble3k opened #20 "VueTypes.arrayOf() throws and error"
https://pastebin.com/8XSL2gU7

Hi, this code throws an error (https://ibb.co/gP9vXb), could somebody explain why ?

[2017-11-07 14:13] dwightjack commented on #20
Hi,

vue-types types return a complete Vue prop validation object. So instead of:

[code]

you should write:

[code]

[2017-11-07 15:09] Ble3k commented on #20
Thanks, my fault, should read docs better))

[2017-11-07 15:10] #20 closed

[2017-11-07 21:22] dwightjack commented on #20
No problem :)

[2017-12-20 18:31] ipavlenko opened #21 "Export validateType method"
It is useful to have ability to execute prop-check manually.
For example - to validate some field of the user defined class.

[2017-12-21 11:21] dwightjack commented on #21
Hi,

I don't fully understand your scenario. Do you have any example to clarify?

[2017-12-21 18:42] dwightjack commented on #15
Hi I've further investigated this issue. Here are some updates:

* with release [1.1.1](https://github.com/dwightjack/vue-types/releases/tag/1.1.1) I've added `Vuetypes.symbol` check
* I cannot find a way to add `VueTypes,element` check. For my understandings, this type of check should be against Vue's VNode object which is not exposed by Vue.
* `arrayOf` function signature and `node` can be conve

[2017-12-21 22:09] dwightjack commented on #16
Hi

sorry for the delay. Lately I've been busy on other projects.

I've done a first implementation of the `.isNullable` modifier [on this branch](https://github.com/dwightjack/vue-types/tree/feature/isnullable). Relevant code is [here](https://github.com/dwightjack/vue-types/blob/feature/isnullable/src/utils.js#L131).

In the `examples` folder you should find a working test as well.

Let me know

[2017-12-25 10:17] ipavlenko commented on #21
Look here for an example:
[code]

[code]

I use vue-types to check component properties, it is a great library, thank you!
It would be awesome to have ability to use it for other kinds of objects.

[2017-12-25 10:31] dwightjack commented on #21
Hi,
ok got it :) thank you for the use case.

I know it might not be exactly what you want, but if you're working with a module bundler (like webpack) you should be able to import the function from utils:

[code]

It's not documented nor exposed on the umd package, so I'll see into it in the next few days, but for now it's a valid solution.

[2017-12-25 10:40] ipavlenko commented on #21
Thank you

[2018-01-13 20:11] Xotic750 opened #22 "Unable to run tests"
I cloned your repo, ran `npm install`: didn't witness any problems here apart from some deprecation notices.
[code]

Then I tried `npm run test` an get the following:
[code]
I made sure that I am using node as specified in the `.nvmrc`
[code]
I have also tried with `lts/carbon`  with the same result,

With `npm run test:all` I get a similar result:
[code]
My environment:
[code]
I'm wondering what

[2018-01-14 14:43] Xotic750 commented on #22
I have also tried this on my Apple Mac with the same result.
[code]

[2018-01-14 16:14] dwightjack commented on #22
Hi

looks like some nested dependencies not tracked in `package.json` had changed.

As a quick fix you can:

1) install `rollup-plugin-node-builtins` (`npm i rollup-plugin-node-builtins --save-dev`)
2) change `karma.conf.js` `rollupPreprocessor` value to (changes marked in uppercase):

[code]

Let me know if it works for you.

[2018-01-14 16:29] Xotic750 commented on #22
Thanks,
Made the changes and the tests now run.

[2018-01-14 16:31] dwightjack commented on #22
Cool!

Feel free to ping me for any other issue and (of course) for suggestions. During the next few days I'll be on the move so I'm not sure I'll be able to work on the codebase, but I'll release a proper patch ASAP.

[2018-01-14 16:31] #22 closed

[2018-01-14 17:35] Xotic750 commented on #22
I really like the concept of this project and I'd like to propose its use for a project that I am involved in, but it requires some changes to meet requirements. I'd like to be able to PR those changes here rather than maintain a separate fork, if you are interested?

I'd happily make a PR for the above changes?

[2018-01-14 21:13] dwightjack commented on #22
Hi!

thanks. Yes we can discuss the needed changes and see if they fit into the project.

Of course the one you posted are totally fine. I'll add you as collaborator to the repo.

Thank you for your contributions!

[2018-01-17 16:14] Xotic750 opened #25 "Question: configs should match?"
Should we have this config line
https://github.com/dwightjack/vue-types/blob/3c80aba0bbfbaf68de88e4be607f524784403b18/karma.conf.js#L44
in
https://github.com/dwightjack/vue-types/blob/3c80aba0bbfbaf68de88e4be607f524784403b18/rollup.config.js#L19
too?

[2018-01-17 16:22] dwightjack commented on #25
Hm... I believe that config is only useful when a package uses a node.js core library. Mocha or some other library used in tests use a builtin so is required, but in src we don't use any.
At least that's what I think the option is for

Also since we are building for the browser we cannot use node builtins.

[2018-01-17 16:26] Xotic750 commented on #25
Ok, just wanted to check. Feel free to close.

[2018-01-17 16:32] Xotic750 opened #26 "Upgrade: babel-preset-es2015 to babel-preset-env"
Stay up to date, by using the env preset.

https://babeljs.io/docs/plugins/preset-es2015/

https://babeljs.io/docs/plugins/preset-env/

npm WARN deprecated babel-preset-es2015@6.24.1: 🙌 Thanks for using Babel: we recommend using babel-preset-env now: please read babeljs.io/env to update!

I'd like to upgrade this.

[2018-01-17 16:54] Xotic750 opened #27 "Enhancement: Implement browserlist."
The project that I am working with require a defined set of browsers that a module supports.

I'd like to implement a browser list that meets our minimum requirements. `babel-preset-env` PR https://github.com/dwightjack/vue-types/issues/26 is a pre-requisite to this enhancement.

[code]
Older versions or additional browser can be specified.

It also gives the end user an unequivocal list of browse

[2018-01-17 19:29] Xotic750 opened #28 "Question: Clarify es directory"
`dist` contains the `cjs` build, `umd` the `umd` build. What is being produced for the `es` directory?

[2018-01-18 12:06] dwightjack commented on #28
Hi,

the `es` folder contains the es6+ version of the library. That version is used by es modules (ie `export { ... }` syntax) aware package bundler like rollup and latest webpack in order to allow es modules related features like tree shaking.

`es` folder is  referenced on lines [10-11](https://github.com/dwightjack/vue-types/blob/master/package.json#L10) of `package.json`

It differs for `src`

[2018-01-18 12:29] dwightjack commented on #27
My initial thought about this topic is that since it's a Vue.js library is follows by default the project guidelines on browser compatibility. (You can see a table [here](https://github.com/vuejs/vue))

Anyway it's fine to be more explicit.

Switching to `bable-preset-env` is fine as long as we set the correct browsers as listed on the above link.

If you want you can update your PR with that brow

[2018-01-18 12:29] #25 closed

[2018-01-18 12:32] dwightjack commented on #27
Ok I got it wrong. From mobile I thought you filed a PR with the new preset. It's an issue instead.

Feel free to create a PR for that, else I'll work on it in the next few days. 😄

[2018-01-18 12:35] dwightjack commented on #26
That's fine.

The configurations you linked (transform runtime and rollup docs) are already taken care in `.babelrc` file (root and `rollup` secction). transofrm runtime is only useful in rollup build because cjs and es builds output multiple files.

[2018-01-29 15:49] Mouvedia commented on #3
This should be reopened :
[code]

[2018-01-30 00:34] dwightjack commented on #3
You're right. I thought that Date would have thrown with an invalid date string, but that's not the case.

Still, I'm not sure it's something that should be added to the core. Could it be the case for an add-on library?

[2018-01-30 00:42] Mouvedia commented on #3
An add-on for a plugin ? Seems a bit too much.
We can already do tree-shaking anyway. One extra line won't hurt.

[code]

[2018-01-30 00:57] dwightjack commented on #3
My doubt is not about filesize. vue-types is rather small so that's not an issue (by the way, it's exported as a single object so I'm not sure you could do tree-shaking on it).

I'm not sure that such a tye check should be in the core since it's not even in React's prop-types.
If we add a check for `Date` then what about `Promise` or any other JavaScript constructor?

Maybe a better solution could

[2018-01-30 01:06] Mouvedia commented on #3
I get it. I didn't know it was  inspired by something else.

Any other constructor wouldn't have that quirk. The user who came looking for a way to validate dates read this issue, like me, probable ended up using `instanceOf`.

If it's builtin, yeah that would be enough.

[2018-01-30 01:49] dwightjack commented on #3
Thanks for the feedback, I'll work of it on the next few days.

About the tree-shaking feature, for some checks I'm using getters ([example](https://github.com/dwightjack/vue-types/blob/master/src/index.js#L12)),  I'm not sure I can expose them the same way with an export. Any suggestions?

[2018-01-30 02:08] Mouvedia commented on #3
It seems you could use computed properties and refactor those getters : they all look-alike.
Well maybe not `function/func` and `bool/boolean`, for these you would have to add AKAs.

Anyhow it depends on your goal. Is it parity, readability, lightness ?

[2018-01-30 08:20] Xotic750 commented on #28
Thanks for all the feedback and I will get back to looking at this, I'm just very busy with a release deadline at the moment.

[2018-01-30 08:20] #28 closed

[2018-01-30 10:47] dwightjack commented on #28
Hi,

no problem. Thank you for your contribution!

[2018-02-10 16:58] gianko opened #29 "Vue Eslint error"
code:
[code]

lint error:
`Prop 'color' requires default value to be set  vue/require-default-prop`

[2018-02-10 23:42] dwightjack commented on #29
Hi,

Thanks for the issue. I've never properly tested vue-props with latest vue-eslint-plugin.

Will check it out.

[2018-02-13 02:25] dwightjack commented on #29
@gianko I've opened an issue on the vue-eslint-plugin repository because I'm not sure how to proceed to solve this issue.

In the meawhile the only solution I see is to disable `vue/require-default-prop` rule, even if I know it sucks... 😢

[2018-02-23 13:59] Xotic750 commented on #29
This is really unfortunate, this is a blocker for introducing this project to other projects that I am involved in. If I have any ideas I will be sure to contribute.

[2018-02-23 14:29] dwightjack commented on #29
Thank you!

[2018-02-28 07:26] decademoon commented on #16
Just a thought, perhaps we could add `isOptional` too which checks `== null` (unlike `isNullable` which checks `=== null`).

[2018-02-28 07:51] lmiller1990 commented on #16
@dwightjack woah, cool. We should meet up for sure if you are in town! Are you working in tech here? Vue is very popular; much more so than React and Angular. If you speak decent Japanese, you can definitely land a job.

I host a biweekly (Vue study event)[https://vuejs-moku.connpass.com/], let me know if you wanna come along.

[2018-02-28 10:27] decademoon commented on #16
This might also be of interest: https://github.com/vuejs/vue/issues/7720

Basically, there is no way to enforce a prop to be non-null at all times without specifying `required: true`, but doing so has the implication that the prop cannot be omitted from the template, even if that prop has a default value.

[2018-03-06 01:38] dwightjack commented on #16
@decademoon Thanks for the insight. I believe the point of @lmiller1990 was to allow `null` as explicit value. I believe that `isOptional` flag is essentially achieved by marking the prop as `required: false`, but maybe I'm missing your use case.

Thanks for referencing the issue in Vue.js repo, it clarifies some points in Vue.js prop validation that are sometimes difficult to grasp just from the

[2018-03-06 01:49] dwightjack commented on #16
@lmiller1990 Yep working at a web agency around Aoyama. My Japanese is raw so it'n not always that simple, but 頑張っている! 😝

The event you're hosting looks cool! Will check it out for sure! (PS: joined your slack team, よろしく！)

[2018-03-06 05:45] dwightjack commented on #21
@ipavlenko I've published 1.2.0 which exposes a couple of [utility function](https://github.com/dwightjack/vue-types#utilities) including `validate`.

[2018-03-06 05:47] dwightjack commented on #27
@Xotic750 Added browserlist with v.1.2.0 Opted for a more [conservative list of browsers](https://github.com/dwightjack/vue-types/blob/master/package.json#L80), but every browser version you need in your specification is included.

[2018-03-15 15:03] RyoNkmr opened #30 ".shape warn in .oneOfType"
Hi,

[code]

this works good, but

[code]

invalid types raise warnings while`oneOfType` evaluates each `shape` until an valid type found.

[2018-03-16 01:38] dwightjack commented on #30
Hi and thanks for filing an issue.

I think the problem here is that, while simple validation is _muted_ when checking a type with `oneOfType`, that's not the case for `shape`.

The offending line is [this]
(https://github.com/dwightjack/vue-types/blob/master/src/index.js#L195). I'll think about a way to fix it in a consistent way. If you have any suggestion feel free to comment or submit a PR.

[2018-03-16 01:39] #27 closed

[2018-03-19 06:32] dwightjack commented on #30
Hi!

I just released v1.2.1 that should fix the problem.

Let me know if it works for you.

[2018-03-19 10:02] RyoNkmr commented on #30
Hi! it works great now, thank you!

[2018-03-28 08:35] #30 closed

[2018-03-28 08:36] dwightjack opened #31 "Explore TS typings"

[2018-04-17 08:28] dwightjack commented on #29
@gianko I've just released an ESLint plugin to make vue-types play alongside `eslint-plugin-vue`: https://github.com/dwightjack/eslint-plugin-vue-types

After installing it, you should just add `'plugin:vue-types/strongly-recommended'` as the last `extends` preset in your configuration

Let me know if it works for you.

[2018-04-18 12:13] Vincent1993 commented on #31
Probably when will finish this?

[2018-04-18 22:36] dwightjack commented on #31
I'm still exploring it, since I'm pretty new to typescript (had previous experience with flow, though).

I'm not sure whether the best option is to rewrite the library or provide just a row definition file.

Suggestions?

[2018-05-04 15:27] evenfrost commented on #31
Either will do in my opinion. Rewriting the library with TypeScript from scratch is an awesome idea if you want a deeper dive into TS. But it'll definitely take more time than just adding a `d.ts` file to the project, which is totally acceptable option as well.

[2018-05-04 17:45] dwightjack commented on #31
Actually I've already done some work. It  can be found on this branch: https://github.com/dwightjack/vue-types/tree/feature/typescript

Still lacking tests and maybe some review. If anyone more skilled with TS than me could review it, feedbacks are welcome :)

[2018-05-12 14:16] ChambreNoire commented on #16
Hi,
Looks good! Any idea when this will make it into the master (or if anyone knows of a temporary workaround)?
Cheers

[2018-05-14 02:16] dwightjack commented on #16
@ChambreNoire it's basically done but I froze the issue because it's unclear which use cases it should cover. We could discuss that here and try to get it done (or drop it). @lmiller1990 @decademoon

In the meanwhile I was thinking that maybe a solution could be use a `OneOfType` validation:
[code]

Didn't test it but it should be fine for simple use cases.

[2018-05-14 02:18] dwightjack commented on #29
Closing this for housekeeping. Feel free to re-open it if something new happens.

[2018-05-14 02:18] #29 closed

[2018-05-14 02:44] lmiller1990 commented on #16
I think we need to think of the actual use cases a little. @ChambreNoire what is your use case? After doing more Vue and working on larger systems, I found that often having a `nullable` prop worked out worse in the long run. I think this is why Vue now enforces props to be either `required` or have a  `default` value.

However I believe there are still some valid use cases - can you explain yours

[2018-05-30 08:45] dwightjack commented on #31
Hi, sorry for the delay.

I had some problems trying to port the build setup and tests suite to TypeScript (karma + rollup + ts has been the main blocker).

In the end I had to revert to JS + separate [TS typings](https://github.com/dwightjack/vue-types/tree/master/types).

Released under [v1.3.0](https://github.com/dwightjack/vue-types/releases/tag/1.3.0)

Since that's my first attempt to TypeScr

[2018-06-12 03:57] dwightjack commented on #31
Published a small bugfix as v.1.3.1

I'm closing this issue. If you have any bug report or improvement feedback feel free to open another issue.

[2018-06-12 03:57] #31 closed

[2018-06-12 04:03] dwightjack commented on #16
After some thinking I believe @lmiller1990 point is right.

Let's close this issue for now. I'm not going to I'm not going to delete the feature branch, so if a specific use case arises, we could address it starting from the code we've already developed.

[2018-06-20 02:31] nolde opened #32 "[Feature Request] Add `.def` support for `shape`"
It should accept a function that returns an object, just like the `default` prop property from Vue itself.

[2018-06-22 12:13] dwightjack commented on #32
Hi I cannot test it right now, but I think that should already be possible.

Custom types like `shape` don't have any sensible default but you can call `def` on them.

Maybe the problem could be that it won't validate a function expecting an obkect instead.
I will look into it and keep you posted.

Thank you!

[2018-06-24 10:38] dwightjack commented on #32
@nolde Checked out this issue. It's already possible to set a default value for `shape` types. Checking at the documentation I think that maybe the following lines could have been misleading:

That line refers to properties defined in the shape object, not to the object itself. I've updated the documentation to be more explicit on that point. I also updated the underlying logic of `def` to actuall

[2018-06-24 10:39] dwightjack commented on #32
Ah, forgot to mention that all the updates have been published under v1.3.2

[2018-06-25 00:35] nolde commented on #32
Sweet, it was that line, in fact, that prompted me to open up the issue.

I'll test it and let you know.

[2018-08-20 12:17] ineghi opened #33 "Lodash isPlainObject vulnerability"
Hi,

A severe vulnerability has been listed for lodash before 4.17.5 version;
https://ossindex.sonatype.org/vuln/12e63c9c-b3f9-42d3-8541-dca1b72cad69

Are you already aware of this ?

[2018-08-31 08:01] dwightjack commented on #33
@ineghi wasn't aware of it. Thanks for letting me know!

[2018-09-03 04:08] #33 closed

[2018-09-03 04:13] dwightjack commented on #33
Since it looks like `lodash.isplainobject` is no more updated, I modified the codebase to use `lodash/isPlainObject` directly. The filesize of the compiled package is mostly unchanged.

Published as v1.3.3

Thanks for your contribution!

[2018-09-03 09:19] ipavlenko commented on #21
Thank you!

[2018-09-13 09:39] dwightjack commented on #32
@nolde closing this issue for now. Feel free to re-open it for further discussion 😄

[2018-09-13 09:39] #32 closed

[2018-09-13 09:42] dwightjack opened #35 "Maybe add .extend method?"
Using eslint-vue-plugin we can whitelist VueTypes calls, but working with custom types is a bit annoying. It would be nice to be able to add custom global types.

Not sure about the implications though (like overwriting default types...)

[2018-09-16 06:24] uriannrima opened #36 "Typescript & Computed Property & VueTypes.arrayOf(VueTypes.shape())"
Hello,

Loving the library so far, finding it really useful, but I'm having  some problem while trying to create a computed property that needs to iterate on some property.

I have this scenario:

[code]
And it gives me this error, right above the reduce operation:

[code]

Since "classes" is a array of VueTypeDef, I can't use it's properties (nor name or level) to compute something on it. If I sw

[2018-10-04 05:08] dwightjack commented on #36
@uriannrima I think I've found the problem.

I update the `shape` method signature from:

[code]
to:

[code]
With that signature everything should work fine even without using an interface.

I've published a new version under the beta tag. You can try it by running:

[code]

Let me know if it works for you.

[2018-10-11 09:09] bietkul opened #37 "Getting required: true, even if not added the isRequired flag"
Hi, thanks for this library.
I'm getting some issues, when using types without any flag.
So, basically when I'm just defining a type like that
[code]
By default, I'm getting `required` as `true` which is not expected.

[2018-10-11 09:12] bietkul opened #38 "Uncaught TypeError: Cannot read property 'custom' of undefined"
I'm getting this error when defining a type using `oneOfType` api.

Error:
https://i.imgur.com/qcx6LzL.png

Code:
[code]

[2018-10-12 03:05] dwightjack commented on #38
Hi,

Looking at the code snippet I think you are importing individual methods from the library, something like:

[code]

VueTypes exports an object and some methods has internal reference to `this`. By destructuring it those methods lost their context.

I know importing just the needed types is convenient and concise, but right now that's not possible with VueTypes.

[2018-10-12 03:18] dwightjack commented on #37
Hi,

I've created a simple fiddle to reproduce the erro but it looks like it's working properly: https://jsfiddle.net/uv1573zp/4/

Could you share some more insight so that I could reproduce the error?

[2018-10-12 09:40] bietkul commented on #38
Thanks, working well

[2018-10-12 09:40] #38 closed

[2018-10-12 09:42] bietkul commented on #37
Actually destructuring was the cause here too.

[2018-10-12 09:42] #37 closed

[2018-10-12 10:38] dwightjack commented on #38
Great!

[2018-10-14 02:07] uriannrima commented on #36
Thank you for looking into it @dwightjack :D
I'll test it out and let you know about. (:

[2018-10-19 13:43] bietkul opened #39 "Uncaught ReferenceError: exports is not defined"
Getting this error when using in a new project created by vue-cli 3.0.

[2018-10-19 14:09] dwightjack commented on #39
Hi could you share some more information about the preset and / or setup you're using?

Will try to check it out in the next few days

[2018-10-19 16:54] bietkul commented on #39
Actually it was the issue from some other package.

[2018-10-19 16:54] #39 closed

[2018-11-05 02:42] dwightjack opened #40 "add a custom `.validate` method"
Add a custom validate method to `native` types to be able to set a custom validation.

[code]

[2018-11-05 02:43] dwightjack opened #41 "Use a shim in production build"
In production props don't get validated. We could shave some filesize by using a *noop* shim in production build.

[2018-11-06 13:54] testgit-1 opened #42 "Validation with array of objects doesn't work."
Case: an array of objects with a specific structure.
In react we can use
[code]

In Vue similar code does not work.
[code]

[2018-11-07 01:30] dwightjack commented on #42
Hi,

I've tested the described prop type but I'm unable to reproduce the error. Here is my test bin: https://jsbin.com/budequv/edit?html,js,console,output

Could you provide some more details on your scenario?

Thanks!

[2018-12-11 16:00] joakimbugge opened #43 "IDE claims "Instance member not accessible""
WebStorm 2018.3 claims the method `oneOf` is not accessible:

![image](https://user-images.githubusercontent.com/2697311/49812264-51298580-fd65-11e8-8127-64f956824448.png)

As you can see on the line above, the property `string` works, fine, as do all the other properties. All methods, like `custom`, `oneOf` and `arrayOf` are reported as being not accessible.

Everything seems to be working fine w

[2018-12-11 16:09] dwightjack commented on #43
Hi, I indeed think it's an issue with the typescript definition file. Sorry for the issue.

Will look into it as soon as I can. In the meanwhile you could try to update to the latest beta version of the library:

[code]

Fixes there are related to https://github.com/dwightjack/vue-types/issues/36 but I refactored the code a little bit so maybe it would work better.

[2018-12-11 16:49] joakimbugge commented on #43
I've updated to beta (1.3.4-beta.0) and the problem seems to persist. It's not a big issue for me, the package is still working as intended run time. I'll let you know if this is still an issue after #36 gets fixed.

Thanks for responding so fast!

[2018-12-12 05:50] dwightjack commented on #43
Looks like some sort of name collision... I'm not that expert about TS definition files but I think I've managed to make it work correctly on WebStorm (see commit here https://github.com/dwightjack/vue-types/commit/c33fe1db1a5833c358d38c2cc960da6741389140)

Published a new beta version 1.3.4-beta.1

Let me know if it works

[2018-12-12 08:45] dwightjack commented on #42
Hi,

I'm closing this for now. Feel free to reopen the issue or to open another one if you experience any further problem.

[2018-12-12 08:45] #42 closed

[2018-12-12 16:00] joakimbugge commented on #43
Works in `1.3.4-beta.1`! :)

[2018-12-14 05:38] dwightjack commented on #43
I just published the fix as stable version `1.3.4`.

Closing for now. Feel free to open an issue if you find any other problem. :)

[2018-12-14 05:38] #43 closed

[2018-12-14 05:39] dwightjack commented on #36
@uriannrima I just published the fix related to this issue and #43 as version `1.3.4`.

Closing this issue for now. Anyway feel free to reopen or open another issue for any further problem.

[2018-12-14 05:39] #36 closed

[2018-12-19 09:36] ymslavov opened #44 "Ability to extend/overwrite shape definitions"
I'm using VueTypes to implement a Model layer into my application. What I do is something like

    // ItemModel.js
    export default {
         item: VueTypes.shape({
              heading: VueTypes.string.isRequired
         })
     }

then in the component I use it like

    // Item.vue
    import ItemModel from './ItemModel.js'

    ...
    props: {
        inputData: ItemModel
    }

And thi

[2018-12-20 05:50] dwightjack commented on #44
Hi,

I'm not sure about the final shape of `inputData` definition. I think there's a mistype, because your example will produce something like this:

[code]

Which is not a proper prop definition.

Beside that there's no way to extend  a shape definition. I can think of 2 solutions:

1) place all the definitions you need in a model file, have a shared, extendable object and export the composed var

[2019-01-02 20:17] fourpixels opened #45 "Check if function property is present (default for func)?"
Hi there,
I'm trying to make check if a function property is passed or not, but unfortunately the default one is a noop. Therefore I'm having difficulties with it:

[code]
Of course this is not working, because `myLocalMethod` is still not defined while properties are being initialized. But later on, when everything is set up, I don't know if `formatter` came from property or is the default empty

[2019-01-02 22:47] dwightjack commented on #45
Hi,

yes, VueTypes has some default values for each type because that's the most common scenario (you want a default value). Anyway you can disable this function or define your own defaults. See the readme here: https://github.com/dwightjack/vue-types/blob/master/README.md#native-types-configuration

Let me know if that helps

[2019-01-04 21:22] atilacamurca commented on #41
there's a great example of a possible way to do this at <https://github.com/znck/prop-types/blob/master/src/index.js#L5>

[2019-01-23 08:44] dwightjack commented on #41
@atilacamurca relevant commit is 9c9972f255387b089e2d3beeedb065441f08a511

[2019-01-23 08:45] dwightjack commented on #40
Closed as of 5996b4dd22d7cc4c0ae31cc16f66088ca47c824f

[2019-01-24 15:37] atilacamurca commented on #41
Can you provide the difference between the development and production on the README?

If you don't want to update every time the file size difference, you could put in percentage so people could see the real benefit to use the shim version in production.

[2019-01-24 22:38] dwightjack commented on #41
That's right. Thank you fir the hint :)

[2019-01-25 05:55] dwightjack commented on #41
@atilacamurca I added the details here: https://github.com/dwightjack/vue-types/tree/develop#production-build. Good call on the usage of percentages 👍

[2019-02-04 12:30] fourpixels opened #47 "Extend sensibleDefaults instead of completely overriding them?"
Hi again :)
Continuing my previous fight with `sensibleDefaults` - what do you think is the most reasonable way to change just _one_ of them? I have problems with `bool` in particular, but don't want to copy-paste all of the other ones just to change one. Unfortunately for now I cannot find a proper way to do that - it's either everything or nothing 😄

Thanks!

[2019-02-04 12:36] fourpixels opened #48 "Setting sensibleDefaults globally before they're used in components"
In our current project we stumbled upon a problem with setting the sensible defaults before they are being used. It's a bit deeper (as we're building a library), but simplified it's about setting the defaults before they are actually used.

Imports (ESM) are executed before the logic itself. Therefore in our case we're importing some specific components (even in App.vue) that are using VueTypes (e

[2019-02-04 12:55] dwightjack commented on #48
Hi,

That's a problem indeed. I'm not sure whether there could be an elegant solution to it.

As you already suggested dynamically importing the entry-point component (App) solves the problem on an application level.

As for your library scenario I think your best option is indeed wrapping VueTypes in a local module where you import the library, define your defaults and export the library again:

[2019-02-04 13:01] fourpixels commented on #48
We were thinking about using it as a plugin (unfortunately wrapping it again), but we had some issues doing so, maybe with mixins I think. I'm just sharing some thoughts :)

[2019-02-04 13:11] dwightjack commented on #47
Hi,

sensibleDefaults is basically a private object exposed by a setter/getter so you could merge your custom values with those already defined:

[code]

If you want to just exclude some defaults you can spread it like this:

[code]

[2019-02-04 13:22] dwightjack commented on #48
You mean by using it through the `Vue.use()` API?

I cannot check it out right now, but I guess you'd attach it to the Vue main object (something like `Vue.types.bool`), right?

I will check it out tomorrow. If you have any snippet feel free to share it. This is a pretty interesting use case, anyway sorry for the issues it's causing to you and your project.

[2019-02-05 03:57] dwightjack commented on #48
Hi,

I've made some tests and I think that as a plugin it won't work properly because props are evaluated at component definition, so a static property attached to Vue (like `Vue.types`) won't be available when loading a component.

Your best bet is to go for the local wrapper module:

[code]

If your component library is composed by multiple npm modules you could place that wrapper into a _config

[2019-02-13 09:36] dwightjack commented on #35
Ongoing work here https://github.com/dwightjack/vue-types/tree/feature/extend

[2019-02-14 03:56] dwightjack commented on #35
Publised as of [v.1.5.0](https://github.com/dwightjack/vue-types/releases/tag/1.5.0)

[2019-02-14 03:56] #35 closed

[2019-02-14 03:56] dwightjack commented on #40
Publised as of [v.1.5.0](https://github.com/dwightjack/vue-types/releases/tag/1.5.0)

[2019-02-14 03:56] #40 closed

[2019-02-14 03:57] dwightjack commented on #41
Published as of [v.1.5.0](https://github.com/dwightjack/vue-types/releases/tag/1.5.0). Closing for now.
Feedbacks are welcome 😃

[2019-02-14 03:57] #41 closed

[2019-02-14 03:58] dwightjack commented on #44
Hi I'm closing this issue just for housekeeping. Feel free to reopen it if you need more help on this 😄

[2019-02-14 03:58] #44 closed

[2019-02-18 15:31] lfkwtz opened #49 "Default string value within VueTypes.arrayOf(VueTypes.shape({})) not working"
https://codesandbox.io/s/wq3xprjw28

See example here - any idea why the default string value doesn't resolve?

[2019-02-18 15:54] dwightjack commented on #49
Hi that's due to vue internal prop handling.

Default values apply to just the root level of the prop. In your case you can specify a default value for the array but not for the shape inside the array.

In the same fashion you can have a default value for a `.shape` prop but not for individual properties of the shape.

On the other hand, validation of required property works properly because vue-t

[2019-02-18 15:59] #49 closed

[2019-02-25 15:11] arnthor3 commented on #13
Any news on this issue? This would be really useful to have.

[2019-03-13 19:53] mmintel opened #50 "oneOf and default"
Hi there,

I have
[code]

and I am calling my component without `type` prop. As I understand the code above it should set `"default"` as my `type` prop. But in browser console it's complaining about `Invalid prop: custom validator check failed for prop "type".`.

Is there some misunderstanding on my side or is it a bug?

Cheers
Marc

[2019-03-14 03:13] dwightjack commented on #50
Hi, I've created a demo sandbox here (https://codesandbox.io/s/38828pyoxq?fontsize=14) and it seems working fine. Could you provide an implementation example?

[2019-03-30 19:13] adrian-marcelo-gallardo opened #51 "PropTypes defaults lost when shimmed"
Hello!, I'm using this library to add proptypes to a library of componentes.
Then, I'm building those components as a library (using `vue-cli`) and adding the option in webpack to replace `VueTypes` for the `shim` version.
Then, I'm using that generated library on other Vue application. The problem is that when that application runs, default values aren't applied, and this is causing huge error be

[2019-03-30 19:51] adrian-marcelo-gallardo commented on #51
Well, I keep debugging a little more and found that the object describing propTypes is not the same when using `shim` and when don't.
Without `shim`, the propType object has a `type: Function`;
With `shim` it doesn't have a `type` defined,  and the `validator` prop is an empty function..

I think this is the problem... as the default value never validates to `true`, then `Vue` it's not assigning t

[2019-03-31 07:23] dwightjack commented on #51
Hi,

Vue type validation should be bypassed when vue is used in production mode. This is why both type and validator properties are empty. On the other side default should be kept unchanged. Right know I cannot check it out, but I will check it as soon as possible and report back to you.

[2019-03-31 15:11] adrian-marcelo-gallardo commented on #51
Thanks for your help, I'll be waiting for you input!
So far, I believe to avoid loosing the default value on runtime, the validator function that it's currently assigned by `shim` should return true.

[2019-04-01 04:18] dwightjack commented on #51
Hi,

I think you're right. The issue arises with some type or props (like `Function`) that get special treatment in prop validation. I don't think the validator function is involved since it's totally bypassed in production (see https://github.com/vuejs/vue/blob/59860b0a756526f37468655598c68d119f0e74bd/src/core/util/props.js#L55).

I've published a 1.5.1 version under the @next flag with correct t

[2019-04-01 04:47] adrian-marcelo-gallardo commented on #51
Hello again!, first of all, thank you very much for your quick reply; I've checked all the code you pushed today and that is amazing!!

Bad news, although, is I've checked with this new version and the problems are still there. I think adding the `type` is a huge win, but I'm still getting awful messages on the console and, what it's worst, that is preventing some default values from being assigne

[2019-04-01 05:57] dwightjack commented on #51
Hi,

Ok maybe I got where part of the problem is: you built the library for production, but you're using that library in a development environment.

I think you should use the source (or a bundler compatible version) of your library. This way you'd set the production or development environment in the final app.

That said I agree that setting the shim validator to true won't hurt.
I will ping you

[2019-04-01 06:55] dwightjack commented on #51
@adrian-marcelo-gallardo I published v1.5.2 Let me know if it works 😄

[2019-04-01 17:42] adrian-marcelo-gallardo commented on #51
Hey, I'm not seeing errors anymore, so I believe that did the trick!! :)

Thank you very much for your HUGE help!

[2019-04-02 01:03] dwightjack commented on #51
Cool!

I've published a stable release as v1.5.3.

I'm closing the issue for now. Feel free to reopen it if any other issue arises.
Thank you for your contribution and sorry for the issue.

[2019-04-02 01:03] #51 closed

[2019-04-02 01:05] dwightjack commented on #50
@mmintel Since I didn't get feedback on this issue, I'm closing it just for housekeeping.

Feel free to reopen it anytime

[2019-04-02 01:05] #50 closed

[2019-04-05 09:59] mmintel commented on #50
Hi there, sorry, didn't have time to investigate.

Somehow I can't replicate my original issue anymore and yeah your sandbox example proves it's working. Thanks for that. Also I used default values together with shape, but I guess it's just not possible to assign defaults to object properties. Instead I assign defaults to whole object.. or in the case of objects nested in arrays I am now just usin

[2019-04-05 10:46] dwightjack commented on #50
Hi,

no problem! I am glad it's working.

Yes, currently there's no way to assign default values to shape properties. I am not even sure it's doable because the object is managed directly by Vue.

[2019-07-10 16:23] micha-vb opened #54 "VueTypes.extends is broken"
Hi,

either the extends feature is broken or I don't get it right. The following vue-component demonstrates my issue:

[code]

Am I doing something wrong here or should that work? I'm getting the following error:

[code]

If I remove the link and linkAlt items from the prop-object (no prop-validation is done) the console.log will output the VueTypes-Object with a "link"-object on it (as expected).

[2019-07-11 02:00] dwightjack commented on #54
My bad! Made a silly mistake causing this bug.

Should be fixed in version 1.5.6. Let me know if it works for you.

[2019-07-11 15:29] micha-vb commented on #54
Hey, thanks for the quick work! :)

It seems to have worked a little, but now I get the error `TypeError: Right-hand side of 'instanceof' is not an object`. But I didn't find out what exactly in my code is causing this issue yet. It seems to be the one instanceof-line in the utils => `valid = value instanceof typeToCheck.type` where `typeToCheck.type` is `undefined` sometimes.

This is my code:

[

[2019-07-12 07:44] dwightjack commented on #54
Hi,

glad we made some progress.

I've tried your code and noticed that while you're defining a `routeLocation` type, you're referring to a `routerLocation` (note the `r`) on the `routerTo` type.

This means you're testing for a value of type `undefined`. The checks breaks at [this line](https://github.com/dwightjack/vue-types/blob/1.5.6/src/utils.js#L200) in the `validateType` internal function b

[2019-07-12 09:21] micha-vb commented on #54
Well, I feel stupid..

Of course it was my fault. It works perfectly now. Thanks!

As a user, I think `1. Using the type propery` is more intuitive. It was one of the first things I tried (before I even continued reading the docs and learned about the `VueTypes.utils.validate` function). But my knowlege of vue-types still is very superficial. Maybe there are reasons not to do so.

[2019-07-12 15:35] dwightjack commented on #54
No problem, it happens.
As I said I should come up with some more checks to prevent those kind of errors or at least make them more debug friendly.

Ok cool, let's try with option 1. I will keep you posted on my progress.

I'm closing this for now and will open a new feature issue later.

Feel free to re-open should other problems pop out.

[2019-07-12 15:35] #54 closed

[2019-07-16 11:35] micha-vb opened #55 "Explicit and Implicit undefined values"
Hi,

I just noticed, that it makes a difference if a prop is implicitly or explicitly undefined.
The following code shows the issue:

App.vue
[code]

TestComponent.vue
[code]

In App.vue I am passing an array with three different ways to set an `amount`.

1. The amount is set to a number. => Validates
2. The amount is omitted. => Validates
3. The amount is explicitly set to undefined. => Does not

[2019-07-17 03:52] dwightjack commented on #55
Hi, thanks for contributing.

Yes I think you're correct. Looks like a bug in the `shape` validator.

Will try to fix it in the next few days

[2019-07-17 03:53] dwightjack commented on #55
@micha-vb PS: sorry for the bunch of issues :(

[2019-07-17 03:58] dwightjack opened #56 ".extend method with complex types validation"
Reference: https://github.com/dwightjack/vue-types/issues/54#issuecomment-510785207

We need to handle a special case for the `extend` method where we can pass to the `type` property a VueType type. Something like:

[code]

`VueTypes.myType` should use the object from the `shape` type as base for the new type

[2019-07-17 06:14] #55 closed

[2019-07-17 06:19] dwightjack commented on #55
@micha-vb Fix published in 1.5.7

Let me know if it is working on your side.

[2019-07-17 07:18] micha-vb commented on #55
Works like a charm now!

And don't worry, I produced 1 or 2 bugs in my career, too.  ;)

It's amazing how fast you get to fixing them! Good work! Thanks a lot!

[2019-07-18 03:08] dwightjack commented on #55
Thank you! 😃

[2019-08-01 11:47] atilacamurca opened #57 "Is the UMD version using the shim version when minified?"
The minified UMD version found at <https://unpkg.com/browse/vue-types@1.5.7/umd/vue-types.min.js> is 7.87 kB. Looking at the rollup config, there's no reference to the shim version. Is the UMD version using the shim version when minified?

[2019-08-01 13:14] dwightjack commented on #57
Hi,

nope, it's just the minified library. I'm not sure what's the expected use case here. Usually UMD versions expose the unminified and minified version of the library. Also the minified version is the one used as default file for unpkg.

What's your use case and expected behavior?

[2019-08-01 14:27] atilacamurca commented on #57
I'm just curious to know if we can have a shim version of the UMD when minified, that is, a version that could be even lighter.

[2019-08-02 01:39] dwightjack commented on #57
Ok. One option could be to add a bundle like `vue-types.shim.min.js`.

What do you think?

[2019-08-02 15:12] atilacamurca commented on #57
Yeah, that's exactly it. Sorry, English it's not my primary language :smile:.

This could boost even further the UMD version, for those who uses a CDN, for instance.

[2019-08-04 03:04] dwightjack commented on #57
Don't worry, it is not mine either 😄 .

I just wanted to get it clear. I will add the feature on the next patch version.

[2019-08-05 06:11] dwightjack commented on #57
@atilacamurca I've added the shim in the UMD build and published the changes as v1.6.0:

https://unpkg.com/browse/vue-types@1.6.0/umd/vue-types.shim.min.js

As a side effect, the link to the pre-configured CodeSandobox has been published on the npm docs as well 🎉 .

I'm closing this for now. Feel free to re-open it if you spot any issue.

[2019-08-05 06:11] #57 closed

[2019-08-05 11:51] atilacamurca commented on #57
This is really great! Thank you for your work.

I think it would be greater if we show how to use the shim version on the README. I will send a PR later for that.

Thanks again.

[2019-09-02 04:38] dwightjack commented on #3
Hi,

I know this is an old standing issue, but with the new [`.extend` method](https://github.com/dwightjack/vue-types#extending-vuetypes) the `date` type can be implemented like this:

[code]
Usage:

[code]

[2019-09-02 04:38] #3 closed

[2019-09-02 04:59] dwightjack commented on #56
@micha-vb Currently I'm looking into the implementation of this feature. The branch in the is https://github.com/dwightjack/vue-types/tree/feature/56-extend-types.

I've published a first beta version on npm (1.7.0-beta.1) under the `@next` tag. You can install it by:

[code]

I've also created a demo sandbox here: https://codesandbox.io/embed/vuetypes-extend-demo-v36dd

In my tests it seems to wo

[2019-10-11 07:17] dwightjack commented on #56
@micha-vb sorry to bother you again. Did you have the chance to test the implementation?

[2019-10-11 07:55] micha-vb commented on #56
@dwightjack not yet. sorry. This got pushed back agian and again by my regular work. I'll try to check it out as soon as I can. But it has to wait for at least a week longer.. Hope that's ok.

[2019-10-11 08:00] dwightjack commented on #56
@micha-vb of course! I wasn't sure you received the first message, so I thought to "ping" you again.

It's not an urgent feature so take your time to test it.

Thanks again!

[2019-10-22 09:22] micha-vb commented on #56
Ok, looks mostly good, but there is one case where I get this error: `TypeError: [VueTypes error]: Setting type to undefined is not allowed.`

To get that you have to nest a custom vue-type in another custom vue-type.

For example:

types.js
[code]

Demo.vue
[code]
This will work: `<Demo url="/john-doe" />`
This will throw the error: `<Demo :url="{ path: '/john-doe' }" />`

[2019-10-23 04:41] dwightjack commented on #56
@micha-vb Thanks for your feedback!

I think the problem was in the way I was inheriting the `type` property. I've published a fix in a new beta version `1.7.0-beta.3` under the `@next` flag and updated the sandbox with your example.

Let me know if it works in your environment as well.

[2019-10-23 07:43] micha-vb commented on #56
@dwightjack nice! The error is gone. :) Good job!

[2019-11-04 06:55] maxpou commented on #16
if someone Google this problem and ends here, here's a solution:

[code]

[2019-11-06 11:13] dougalg opened #60 "Deep watchers create infinite recursion"
When using the shim, if you have a deep watcher on a prop that is defined as a `VueTypes.*` it creates an infinite loop. This is because Vue attempts to look up `isRequired` which is a getter that returns `this`. If `deep: true` is set on the watcher, then it attempts to look at the value returned from `isRequired` which is the parent object, so it recurses infinitely.

I think the simplest way to

[2019-11-07 02:43] dwightjack commented on #60
Hi,

If everything works fine with the `real` library. The error could be related to the fact that the shim does not define `isRequired` as non-enumerable and then it can be listed by methods like `Object.keys`. The reason for that is to keep the source of the shims as small as possible.

I'm not quite sure about your use case though. Are you setting the value of a prop to a `VueType.*` type? Coul

[2019-11-07 05:02] dougalg commented on #60
Thanks for the response. I've been trying to get a minimal repro working, but it's actually not happening. I had the same question as you, about setting the value of a prop to a VueType, but it looks like for some reason, `Vue` is actually deep watching the entire grandparent component object definition (including it's non-evaluated prop definitions). I'm not able to repro that behaviour yet, thou

[2019-11-07 05:53] dougalg commented on #60
OK, I've determined what is happening here. It looks like a "not technically a bug" on our end, but definitely "bad behaviour" coupled with this "maybe-a-bug" on your end.

It turns out that we are passing components as props, in some cases. This is very useful for abstract components, and so on. However, it gets weird because we have a prop which is a (poorly defined) object which includes a comp

[2019-11-07 06:18] dwightjack commented on #60
Thank you for the detailed explanation.

Ok, I understand your point. I agree with you that maybe deep-watching an object containing a component definition is not the best choice performance-wise.

I also agree that since using the _real_ library does not raise the issue I need to fix the shim to solve that inconsistency.

I don't think the impact on the code will be too big. I didn't consider a u

[2019-11-07 08:30] dougalg commented on #60
That's great. Thanks a lot!

We already have a temporary fix by removing VueTypes in the broken component. I'm looking into making the deep watcher simpler and more efficient and removing the watch on the internal component completely. As you said, there's no way that it's good for performance!

[2019-11-08 04:37] dwightjack commented on #60
Hi,

I published a beta version with a fix:

[code]

When you have time, could you check if it solves the issue?

[2019-11-08 05:25] dougalg commented on #60
This fixes the issue we were seeing! Thank you for the responsiveness :)

[2019-11-08 07:15] dwightjack commented on #60
Cool!

Published as `vue-types@1.6.1`. 😃

Feel free to re-open this issue if you encounter this bug again.

[2019-11-08 07:15] #60 closed

[2019-11-12 00:04] IgorSzymanski opened #62 "Wrong inferred type of prop when using oneOf method"
https://github.com/dwightjack/vue-types/blob/b1235764c25e5174196a46edb811a56b41978c42/types/vue-types.d.ts#L95

I believe that line should look like this:
[code]

Currently, if I do something like this:
[code]
Typescript assumes that prop `id` is of type `number[]`, but it should be `number` instead.

Tested it locally, and after the change, it works as - I assume - intended.

[2019-11-12 04:17] dwightjack commented on #62
Good catch. Thank you!

Fixed in `v1.6.2`.

Since I'm not 100% confident in TypeScript feel free to open another issue or submit a PR for bugfix and improvements in the type definitions.

[2019-11-12 04:17] #62 closed

[2019-11-12 13:25] IgorSzymanski commented on #62
I might actually do that, because I've noticed more issues with types after closer inspection.

[2019-11-12 13:36] dwightjack commented on #62
@IgorSzymanski that would be great.

Sorry for causing issues :cry:

[2019-11-26 05:57] dwightjack commented on #56
Sorry for the late reply.

Thanks for taking the time to test the release.

I've released this new feature under v1.7.0.

Closing the issue for now. Feel free to open a new issue if you eperience any problem.

[2019-11-26 05:57] #56 closed

[2020-06-23 15:24] martinmckenna commented on #16
I would love this PR tbh. My use case is that I'm using a 3rd party API and when I make a network request, there are some Object keys that may not exist at all.

So to defend against that, I made all the non-existent  keys default to `null` to appease the type checker, but now I'm realizing there isn't any `isNullable` functionality in this lib.

This imo is a no-brainer. Other libs like Yup do th

[2020-06-23 22:41] lmiller1990 commented on #16
@martinmckenna in that case can you just define it without `default` or `required` (that would be undefined, which is basically the same as null for missing key).

[2020-06-24 02:52] dwightjack commented on #16
@martinmckenna I agree with @lmiller1990: it is usually better to make a key `undefined` instead of setting it to `null` in order to communicate that it's optional.

If I'm understanding it correctly your issue involves a type checker as well (TypeScript maybe?). In that case, you might want to use the [`Partial` helper](https://www.typescriptlang.org/docs/handbook/utility-types.html#partialt) to

[2020-06-24 13:22] martinmckenna commented on #16
But it's not an optional prop, and I want other people on my team to understand that

`null` means you did pass the prop, but it just has no value

`undefined` means you didn't pass the prop at all. I want my team members to get console warnings here.

[2020-06-24 13:32] martinmckenna commented on #13
+1. The current logging is completely useless and is making me spend more than a few minutes trying to track down what key I'm missing

[2020-06-25 06:17] dwightjack commented on #13
@martinmckenna @arnthor3 I've published the `1.8.1-beta.1` version with some possible improvements to the `oneofType` and `shape` logging.

I would greatly appreciate your feedback on this. 😃

[2020-08-09 13:29] dwightjack commented on #13
I just released v2.0.0 which comes with more descriptive errors: https://github.com/dwightjack/vue-types/releases/tag/2.0.0

I'm closing this for now. Feel free to open a new issue if you have other issues with logging.

[2020-08-09 13:29] #13 closed

[2020-08-09 13:33] dwightjack commented on #48
It took longer than I expected, but in the end, this feature is available in v2.0.0. Here is the relevant documentation: https://dwightjack.github.io/vue-types/advanced/custom-instance.html#introducing-createtypes

I'm going to close this for now. Feel free to open a new issue if you have any issues or suggestions related to the new API.

[2020-08-09 13:33] #48 closed

[2020-08-09 13:37] dwightjack commented on #16
I think this issue can be closed. Feel free to re-open if there's something new on the subject

[2020-08-09 13:37] #16 closed

[2020-08-12 06:58] attekemppila opened #68 "Question: In 2.0.0, is VueTypes.string.def("") supposed to work still?"
In 2.0.0 you can import individual validators: `import { string } from "vue-types"`

But is the old style supposed to work still?

[code]

It gives me an error: `Uncaught TypeError: _vueTypes2.default.string.def is not a function`

Basically `VueTypes.string` is a function, and `VueTypes.string.def` is undefined.

Usage example implies that old style should still work: https://dwightjack.github.io

[2020-08-12 07:56] dwightjack commented on #68
Hello,

I have updated the demo sandbox using namespaced validators and it seems to work as expected: https://codesandbox.io/s/vue-types-2-demo-rbrdh?file=/src/components/ListItem.vue

I am not sure why you are getting that error. Could you share the component's code? If I should guess, I'd say that's what you'd get by importing the library as:

[code]

Maybe some bundler plugin / compiler config?

[2020-08-12 14:45] attekemppila commented on #68
I'm using browserify (+babelify 8 (= babel 6, can't upgrade easily because of reasons)).

Maybe module glue from those interferes somehow. I don't know.

No need to dig into this deeper on my account. I have been meaning to move away from browserify anyway in the near future.

For now, I'll just stay in 1.x or move to use individual validator syntax (`import { string } from "vue-types"`) which see

[2020-08-12 15:08] dwightjack commented on #68
Thanks for the details.

I might have found the problem. Browserify uses commonjs as module standard instead of esm (used by default by webpack and rollup), and seems that microbundle (which I'm using for bundling the library) has some issues with [commonjs and default exports](https://github.com/developit/microbundle/issues/306).

I will investigate if the issue is fixable. In the meantime I thin

[2020-08-13 10:32] nolde commented on #68
I am getting the same thing when running my jest unit tests.
[code]
... not sure why though.

Using vue cli 3 packing, little customisation. Using `import VueTypes from "vue-types"` format.

Also, you should probably mention on your notes that `boolean` was updated to `bool`.

[2020-08-13 12:33] dwightjack commented on #68
@nolde This should confirm my guess: Jest uses commonjs to load modules so it's loading a version of the library affected by the issue I linked above (https://github.com/dwightjack/vue-types/issues/68#issuecomment-672931304).

I published the `2.0.1-rc.1` version as beta. It should fix the issue. To install run `npm i vue-types@2.0.1-rc.1 -S`

If that works I'll publish `2.0.1` as stable.

Sorry f

[2020-08-13 13:07] attekemppila commented on #68
2.0.1-rc.1 seems to work in my case. Both import methods: `import VueTypes, { string } from "vue-types"`

[2020-08-14 04:05] nolde commented on #68
Tests passed after installing `rc.1`!

[2020-08-14 04:46] dwightjack commented on #68
@attekemppila @nolde Thanks for testing it out.

I published the fix in `2.0.1`.

[2020-08-14 04:46] #68 closed

[2020-10-06 11:49] tangjinzhou opened #71 "PropTypes.bool.default(undefined) not work"
[code]
not work.

this.some is  `false`

and
[code]

no work

[2020-10-08 06:01] dwightjack commented on #71
Hello,

at the moment there is no way to unset the default value for a native type validator except to globally setup it with the `sensibleDefaults` or by creating a custom namespace instance of VueTypes.

Using v2.0.1 on a vue-cli project and with you second example:

[code]

The returned instance does not have the `default` key for `bool`.

There is one catch, anyway. I have created a [demo sand

[2020-10-08 06:46] tangjinzhou commented on #71
Now I have to  use ` { type: Boolean, default: undefined } ` instead of Types.bool.

[2020-10-10 08:09] dwightjack commented on #71
While I think that's somehow an unconventional use of a boolean prop, you can extend VueTypes with a custom type like this:

[code]
Documentation: https://dwightjack.github.io/vue-types/advanced/extending-vue-types.html#the-extend-method
Example sandbox: https://codesandbox.io/s/wild-monad-dk8ii?file=/src/types.js

[2020-10-10 09:15] tangjinzhou commented on #71
`Types.oneOfType([Types.looseBool, Types.string])`  still `false`

https://codesandbox.io/s/twilight-sun-pmoox?file=/src/components/HelloWorld.vue

[2020-10-10 09:41] dwightjack commented on #71
So, that's another kind of issue. The `oneOfType` accounts just for the type and validator of each type, so the resulting prop validator is:

[code]

The solution is again to create a custom type:

[code]

or maybe create an utility function to wrap the type:

[code]
withUndefined(Types.oneOfType([Types.looseBool, Types.string]))
[code]

[2020-10-10 09:52] tangjinzhou commented on #71
Thank you for your help.
vue-types is very cool.
I will refactor [ant-design vue](https://github.com/vueComponent/ant-design-vue) use it.
In fact, It is also used in ant-design-vue 1.x version.

[2020-10-10 09:52] #71 closed

[2020-10-10 13:35] dwightjack commented on #71
Thank you. 😃
Feel free to ping me if you find any other issue.

Just to be sure: note that if the library is going to use vue3 you need to use `vue-types@3` (also under the `vue3` tag on npm). APIs are the same but it accounts for some missing Vue globals and different Typescript notations.

[2020-10-20 03:05] Amour1688 opened #72 "PropTypes.string should not be required property in TS"
![image](https://user-images.githubusercontent.com/31695475/96535323-1c24dd00-12c4-11eb-9fe6-fdee69f6d44d.png)

[2020-10-21 08:19] dwightjack commented on #72
Hi,

I think the result you're getting is related to how `RequiredKeys` (used in `ExtractPropTypes`) works: it looks for `required` or `default` properties defined on the prop definition. Since `VueTypes.string` comes with a default value of `''` is is considered required.

If you want to generated a prop validator without default you can use the `string` named export function. See here for an exa

[2020-10-22 12:06] #72 closed

[2020-12-30 02:36] danranVm commented on #71
I overwrite the definition of  `vue-types` with a type assertion

[code]

[2021-01-27 03:35] danranVm opened #75 "VueTypes.instanceOf don't support abstract class"
[code]

I get an error:

`Argument of type 'typeof AbstractControl' is not assignable to parameter of type 'Constructor'. Cannot assign an abstract constructor type to a non-abstract constructor type.`

[2021-01-27 03:46] danranVm commented on #75
[code]

it is work, is there a better way?

[2021-01-27 08:51] dwightjack commented on #75
Hi,

I am not familiar with abstract classes, but I think they don't have an actual translation in JavaScript and, if so, they cannot be instantiated with the `new` construct.

My guess is that it might work using the object validator with a type parameter:

[code]

[2021-01-28 01:25] danranVm commented on #75
tks, it correctly infers the type of parameter

[2021-01-28 01:26] #75 closed

[2021-03-02 10:25] ChriBack opened #78 "Question: testing and covering shapes with jest"
Hi,

I am new to vue-types and developing in a project with testing and code coverage with jest.
My problem ist, that jest is telling me that "function not covered" when it comes to shapes.

![image](https://user-images.githubusercontent.com/8105240/109634302-5f803980-7b49-11eb-95af-981767e34808.png)
In the image you can see the problem.
the vue component looks like this

[code]

Any thoughts on h

[2021-03-13 12:31] dwightjack commented on #78
Hi,

sorry for the late reply. I am not that familiar with jest code coverage to tell why it thinks that the prop is not covered.

If it was the def arrow function, you could change it to `.def({ tooltip: '' })` (vue-types makes a shallow copy internally), but I am not sure it will fix your issue.

[2021-06-02 08:45] djkloop opened #86 "@vue/composition-api props type error"
[code]
[code]
![image](https://user-images.githubusercontent.com/21050914/120449265-dc79b400-c3c1-11eb-9f1e-8a554b51dd60.png)

[2021-06-02 23:43] dwightjack commented on #86
Hi,

it might be some incompatibility with vue-demi. At the moment vue@3 requires vue-types@3 and vue@2 requires vue-types@2. This is needed because props Typescript definition has changed in vue@3.

I am working on an unified version, though. If you want to try it out you can install it by running `npm i vue-types@4.0.0-rc.2` or `npm i vue-types@next`.

[2021-06-03 03:01] djkloop commented on #86
@dwightjack Works well, thanks for reply

[2021-06-03 06:40] djkloop commented on #86
@dwightjack

https://github.com/dwightjack/vue-types/blob/5ffb6204c20d17793a65c7f6822d3e8d71341a61/src/sensibles.ts#L6

The default value here cannot be an empty string, right? If the user passes in an undefined, it will be judged wrong

![image](https://user-images.githubusercontent.com/21050914/120598737-39847100-c479-11eb-829d-6f342fa3fd64.png)

![image](https://user-images.githubusercontent.co

[2021-06-03 09:02] dwightjack commented on #86
I think that, since you're passing `undefined` (<Component title={undefined} />), it's like you are not passing the prop and so `props.title` uses its default value (empty string).

If you need to manage `undefined` as prop value, you can reset the prop default ([source](https://github.com/dwightjack/vue-types/blob/unified-version/src/utils.ts#L274-L278)):

[code]

In this case, `props.title ?? 'a

[2021-06-03 16:23] djkloop commented on #86
emmm....This works too.. thanks for reply

[2021-06-04 01:33] dwightjack opened #107 "Documentation: clearer sensible defaults management"
I feel that the setup and override of sensible defaults in the default namespaced export are not very clear in the documentation.

Also, I'd like to verify that the doc correctly explains how to unset a default by using `def(undefined)`.

Reference: https://github.com/dwightjack/vue-types/issues/86#issuecomment-853711066

[2021-06-04 01:38] dwightjack commented on #86
Great!

I have opened an issue to improve the documentation regarding the usage of `.def(undefined)` because I think it's not clear enough.

I am going to close this issue. Feel free to open a new issue if you need support or if you encounter any other problem 😄.

[2021-06-04 01:38] #86 closed

[2021-06-27 09:47] dwightjack commented on #107
Done in v4

[2021-06-27 09:47] #107 closed

[2021-07-08 17:38] victorgarciaesgi opened #134 "Support for Typescript casting in `string` validator"
Hi and thanks for the 4.0 version! This is really time saving.

I found out that Typescript support has landed and made me use it!
As i'm rewriting my component props (By the way, it's not very clear in the docs how to cast a type on a validator: `object<User>()`), I found out that `string()` does not support casting and that's a bummer because it is really usefull in a lot of cases!

Ex Before vu

[2021-07-09 03:17] dwightjack commented on #134
Hello, thanks for the feedback.

At the moment, generic arguments are supported in `array` and `object` validators only because I guessed they are the most common instances where you'd want to have TS-only checking to quickly set the prop without using validators like `shape`.

For all other instances, using other validators like `oneOf` is the best choice because they provide runtime checks. So,

[2021-07-09 08:20] victorgarciaesgi commented on #134
Thanks for the great answer @dwightjack . I totally understand what you mean.
It's true that I want TS-only type checking because Volar(Vscode) will make the typecheck and it's a better DX overall.
I will still try using `oneOf`.

I'm working a solving the type issue on your sandbox, it's a very common and frustrating error with generics and subtypes that is not well documented by the Typescript t

[2021-07-09 08:30] victorgarciaesgi commented on #134
@dwightjack One of the solution to bypass the TS error is to cast to unknown first. I made a fix to your sandbox using this solution!
https://codesandbox.io/s/stupefied-sky-7esxe?file=/src/index.ts

[2021-07-10 07:56] dwightjack commented on #134
@victortotem thank you for your help! I've merged #135. I have opened another PR #136 adding the same generic argument to `number()` and `integer()`.

I have also reviewed the documentation adding these new features and moving the `TYPESCRIPT HINT` info box just after the code example. Maybe in this way the TypeScript related documentation is a bit more prominent.

If you want to check out the cha

[2021-07-13 13:23] victorgarciaesgi opened #140 "`oneOfType([Array, any()])` throws error at prop validation"
Hi it's me again! :D

I'm translating all my props to vue-types, and came accross a bug with `oneOfType`.

Before:

[code]

So in `vue-types`:

[code]

And I got this errors :(

![image](https://user-images.githubusercontent.com/15092120/125459277-ecf5e6fe-5ee8-4de7-949a-4b3a081ca1d9.png)

[2021-07-13 13:26] victorgarciaesgi commented on #140
Ok found out that `{ type: [Array, null] as PropType<any | any[]> }` produce the same error so not `vue-types` fault :p

[2021-07-13 14:28] victorgarciaesgi commented on #140
You're right that's exactly the same as putting `any` 😅 so it's my fault here!
Still on Vue 2 (Waiting for Nuxt 3 🙏)
It could be cool to cast to `any()` too, like putting `any<AllPossibleValues>()` or `any<unknown>()`

[2021-07-13 14:43] dwightjack commented on #140
Just for reference, there's an open issue about nullable props in vue3 repo as well: https://github.com/vuejs/vue-next/issues/3948.

 Looking at the source for [props validation](https://github.com/vuejs/vue-next/blob/master/packages/runtime-core/src/componentProps.ts#L575) using `null` in an array of types (for example `type: [Array, null]`) might cause some validation errors.

About casting any,

[2021-07-22 03:58] danranVm opened #147 "`oneOfType` and `oneOf` support generics"
Using generics can help us better constraint types, likes:

[code]

[2021-07-22 04:00] danranVm commented on #147
If you agree to this modification, I can provide a PRl.

see:  https://github.com/IduxFE/idux/blob/main/packages/cdk/utils/src/props.ts#L118

[2021-07-22 12:26] dwightjack commented on #147
Hi @danranVm, some work to implement type generics is undergoing in https://github.com/dwightjack/vue-types/pull/136 and other PRs referenced there. The latest changes have been published in `vue-types@4.1.0-beta.2`.

If you need a fix for  `oneOfType` right away staying on the stable version, you can already achieve the result in your example in a less _elegant_ way:

[code]

For `oneOf` I don't

[2021-07-23 06:51] danranVm commented on #147
I know both of these schemes. They work well in most cases, but there are some things that are not friendly.  E.g:

[code]

[2021-07-26 08:09] dwightjack commented on #147
@danranVm `vue-types@4.1.0-beta.2` already supports type arguments for the `oneOfType` validator. You can try it out right away. As a side note, I'd avoid using `null` as a prop type in Vue because the framework doesn't really support _nullable props_ even if they might work after all.

As for `oneOf`, I am not an expert in generics, but I'd like to understand the changes required to make it work.

[2021-07-26 08:12] Ttou opened #149 "Use shim in nuxt report an error when build"
nuxt: 2.15.7
vue-types: 4.0.0
repo: [link](https://gitee.com/jh_shot/ssr-legacy-template)

![微信截图_20210726161026](https://user-images.githubusercontent.com/4298437/126955630-e9566fd8-2ff1-4220-b5cc-4bc955905d1f.png)

[2021-07-26 08:21] dwightjack commented on #149
Hello,

I am not completely sure why this is happening. You could try to configure the build following instructions for [webpack 5](https://dwightjack.github.io/vue-types/guide/installation.html#webpack-5).

Also, could you share the part of configuration where you set the shim?

[2021-07-26 12:00] victorgarciaesgi commented on #147
I will look into this when I have time @dwightjack no problem! 😄

[2021-07-26 14:21] Ttou commented on #149
@dwightjack webpack 5 is fine, nuxt is using webpack4

[2021-07-26 14:45] dwightjack commented on #147
@victorgarciaesgi thanks for your support. for now, I was asking your opinion on the feature, since we are working on these kind of features as well. I don't want you to feel pressed to work on it.

[2021-07-27 01:01] Ttou commented on #149
@dwightjack you mean use webpack5 config instead?

[2021-07-27 05:09] dwightjack commented on #149
The build behavior is strange. Nuxt still uses webpack 4 but the behaviour reported in the error suggests that the tool is trying to load `vue-types` like webpack 5 does.

I've created a demo installation and I cannot replicate the issue: https://github.com/dwightjack/demo-nuxt-vue-types

Re you using any particular setup (for example: `nuxt-ts`?).

[2021-07-27 06:03] Ttou commented on #149
@dwightjack online [example](https://codesandbox.io/s/cool-browser-iisw4)

[2021-07-27 09:15] dwightjack commented on #149
@Ttou so the issue might be related to the version of node you're using.

When setting the shim alias try one of the following:

[code]

or

[code]

I will update the docs in the next few days.

[2021-07-27 09:30] Ttou commented on #149
another issue, when using custom validator, report error:
![微信截图_20210727173017](https://user-images.githubusercontent.com/4298437/127131219-095f9998-5a2a-4da7-8370-86b7deb66092.png)

[2021-07-27 09:42] dwightjack commented on #149
I see.

That's another issue I already found and was going to fix in the next few days.

Sorry for the problem, for now please don't use the shim. I will inform you as soon as the issue is fixed 🙇

[2021-07-28 02:15] dwightjack commented on #149
@Ttou I've published a first patch that should fix your issue in `vue-types@4.0.1`.

Let me know if it works.

[2021-07-28 02:51] Ttou commented on #149
@dwightjack fixed

[2021-07-28 03:10] #149 closed

[2021-07-28 06:34] dwightjack commented on #147
After some research, I am not sure that there's a way to fix the issue in https://github.com/dwightjack/vue-types/issues/147#issuecomment-886476610 (I guess that's the nature of the union type, it cannot force the presence of a value).

For now, I have created a Draft PR with the related changes (https://github.com/dwightjack/vue-types/pull/151). I am not yet fully positive about it: while it help

[2021-07-29 01:45] dwightjack opened #152 "Review shim implementation"
At the moment, implementing the shim into a project is a bit cumbersome. It depends not only on the bundler in use, but also on the environment (node version, etc...).

We need to improve the DX (ref #149).

[2021-08-07 06:10] dwightjack commented on #152
Closed by #153

[2021-08-07 06:10] #152 closed

[2021-08-30 09:21] renovate[bot] opened #171 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Open

These updates have all been created already. Click a checkbox below to force a retry/rebase of any.

 - [ ] [Update dependency url-parse to 1.5.2 [SECURITY]](../pull/168)
 - [ ] [Update all non-major dependencies](../pull/170) (`@types/node`, `@types

[2021-09-06 02:46] dwightjack commented on #134
I published [v4.1.0](https://github.com/dwightjack/vue-types/releases/tag/4.1.0) that should fix this issue.

Closing for now. Feel free to open a new issue if you experience any problems.

[2021-09-06 02:46] #134 closed

[2021-09-06 02:47] dwightjack commented on #140
I published [v4.1.0](https://github.com/dwightjack/vue-types/releases/tag/4.1.0) which should fix this issue.

Closing for now. Feel free to open a new issue if you experience any problems.

[2021-09-06 02:47] #140 closed

[2021-09-07 10:53] davidbeijinho opened #176 "custom validation does not run inside shape"
I was not able to make custom validation run inside of a shape validator, I have modified the example for vue2 slightly to create an example for this problem

[code]

[2021-09-07 11:19] davidbeijinho commented on #176
the same result for the vue3

[code]

[2021-09-07 11:45] dwightjack commented on #176
@davidbeijinho I guess that's a bug. I will work on a fix in the next few days.

[2021-09-08 09:52] dwightjack commented on #176
@davidbeijinho I've pushed a fix in #177 and published it as `vue-types@4.1.1-rc.0`.

Could you check if it fixed your issue?

[2021-09-08 09:54] alexmccabe opened #179 "eslint vue/require-default-prop warning"
I've set up my component as outlines in your documentation, but i am still getting the eslint warning when using the `isRequired` prop.

![CleanShot 2021-09-08 at 10 52 02](https://user-images.githubusercontent.com/2529110/132488098-32e4c6df-f895-4f86-8caa-d286ff312d95.png)
![PixelSnap 2021-09-08 at 10 54 32](https://user-images.githubusercontent.com/2529110/132488384-e5198297-9271-4375-9403-f5dde

[2021-09-08 10:53] dwightjack commented on #179
Hi, could you share your ESLint configuration?

[2021-09-08 12:02] alexmccabe commented on #179
Hi Dwight, here's the `.eslintrc.js`. I added the vue-types eslint plugin and it resolved the issue, however your package there says it's no longer needed.

[code]

[2021-09-09 09:30] dwightjack commented on #179
Hi, the latest changes in `eslint-plugin-vue` made me hope I didn't have to deal with ESLint anymore but I was wrong 😅.

It looks like patterns like `string()` are ignored but not `string().isRequired`.

I will think of a fix for it.

[2021-09-09 09:32] alexmccabe commented on #179
Haha sorry @dwightjack. I wish I could help, but I've not spent any time with the eslint plugin ecosystem 😔

[2021-09-09 12:55] dwightjack commented on #179
Hi, so I did some tests and it looks like the error is generated when using `eslint-plugin-vue^6` but not `eslint-plugin-vue^7`, so that might be the reason for my misunderstanding.

Anyway, I have published a new version of the plugin (`eslint-plugin-vue-types@2.1.0-rc.1`) that should cover some more cases and without deprecation warning. Of course you need to uncomment `'plugin:vue-types/recomme

[2021-09-09 13:19] alexmccabe commented on #179
Ahh neat! I can try updating to `eslint-plugin-vue^7`, but that may not work and may break a lot of stuff, I know our build is fairly fragile if we start upgrading random bits, but linting _should_ be fine.

Thanks for spending time digging into this!

[2021-09-26 06:37] dwightjack commented on #176
@davidbeijinho sorry to ping you again. Can you confirm that the issue has been solved?

[2021-09-26 07:15] dwightjack commented on #179
Hi, I've published the stable version of `eslint-plugin-vue-types@2.1.0` and added a page about this issue on the documentation (https://dwightjack.github.io/vue-types/guide/troubleshooting.html).

I am going to close this issue for now, but feel free to re-open it if you find any other problem.

[2021-09-26 07:15] #179 closed

[2021-09-27 09:10] alexmccabe commented on #179
Nice! good work bud, thanks for doing that! Will be upgrading this week

[2021-10-05 23:26] donaldma opened #187 "using `.def()` with `oneOfType` throws error"
When using `.def()` along with `oneOfType` it throws an error if the default value is not of the first type defined in `oneOfType`.

### Example:

works (string before number):
[code]
does not work (number before string):
[code]

### Error:

![Screen Shot 2021-10-05 at 4 11 18 PM](https://user-images.githubusercontent.com/26336687/136115806-bfc0f3d5-4067-4bbb-b355-b903cddbbe30.png)

[2021-10-07 01:53] dwightjack commented on #187
@donaldma I've published a fix in `4.1.1-rc.1`. Can you confirm the issue is solved?

[2021-10-14 02:54] dwightjack commented on #187
Released in the stable channel as [v4.1.1](https://github.com/dwightjack/vue-types/releases/tag/4.1.1).

[2021-10-14 02:54] #187 closed

[2021-10-14 02:54] dwightjack commented on #176
Released in the stable channel as [v4.1.1](https://github.com/dwightjack/vue-types/releases/tag/4.1.1).

[2021-10-14 02:54] #176 closed

[2021-10-26 08:52] 0biWanKenobi opened #199 "isRequired has unexpected behaviour with func"
Using vue-types 4.1.1 with Volar extension v. 0.28.9. Somehow a function prop defined with `VueTypes.prop.isRequired` is still seen as `((...args: any[]) => any) | undefined`.  Screenshot below:

![image](https://user-images.githubusercontent.com/4061104/138844504-96317ab0-016d-46ab-8388-9e8842871dcb.png)

[2021-11-15 01:22] menghany opened #202 "Question:Use defineProps has ESLint Error"
Hi,I use vue-types in defineProps.
that eslint has error
`defineProps` are referencing locally declared variables.(vue/valid-define-props
![eslint error](https://user-images.githubusercontent.com/13767186/141707972-0482a93a-c1be-430e-a691-7c8691f4aada.png)
)

[2021-11-15 09:59] dwightjack commented on #202
Hi,
if you're using the `<script setup>` syntax you need to import the validator in a normal `<script>` block. You can then use it inside the setup block.

This should work:

[code]

Reference: https://eslint.vuejs.org/rules/valid-define-props.html#rule-details

[2021-11-15 11:38] menghany commented on #202
Thanks, this solved my issue

[2021-11-15 11:38] #202 closed

[2022-01-28 16:27] victorgarciaesgi opened #206 "Add `null` in possible generic types of `object`"
Hi!

I'm using `object` for defining a non-required prop. For me a non-required prop could also be of type null. And it's valid using the classic way `PropType`

[code]

So what I would want to do is adding the possibility of doing `object<CreditCardType | null>()`

It is rather important because using Volar  VScode extension, if you pass a null propertie  to a non-required prop, the types will fa

[2022-01-31 09:52] dwightjack commented on #206
Hm, I think that `PropType<CreditCardType | null>` is basically defining a prop that can be either an object or `null`. In this case, I guess the best solution would be to use `oneOfType` 🤔. We just miss a `nullType` definition which could be something like:

[code]

Usage in Vue3:
[code]

I think that in this way it would be more explicit. What do you think?

[2022-01-31 09:57] victorgarciaesgi commented on #206
Oh yeah that will be even better and more explicit! And it works with all the prop types too :D

Thanks a lot!

[2022-02-01 21:35] patie opened #207 "Validator not works"
Hi,

im trying to use Enum validadator - on compile time, but without success

i tried:

View.vue
[code]

Fruit.ts
[code]

Component.vue
[code]

TS 4.4 / Webpack 5 / Vue 3

any idea where can be problem? thanks!

[2022-02-02 03:24] dwightjack commented on #207
Hi, I don't think that typescript supports type checking for single file components at compilation time in any way.

For example, vue-cli does not report any error at compilation time, because only `.ts` files are checked.

About the examples and runtime error:

- `string<'apple' | 'pear'>()` does not throw at runtime because at runtime this prop converts to `{type: String}` (type information are

[2022-02-19 09:34] dwightjack commented on #206
@victorgarciaesgi I submitted a PR with a new `isNull` validator (didn't come up with a better name) that should fit this scenario: https://github.com/dwightjack/vue-types/pull/215

By the way, I also added you as a collaborator, so feel free to review the PR.

[2022-02-19 20:24] victorgarciaesgi commented on #206
Yeah I saw! I will look at it when I have time, thanks a lot for the invitation 😁

[2022-03-02 09:52] dwightjack opened #221 "Migrate to vitest"
Let's migrate our tests to https://vitest.dev/.

[2022-03-02 10:06] dwightjack commented on #207
I am closing this for now. If you have any other comment or issue, feel free to re-open

[2022-03-02 10:06] #207 closed

[2022-03-02 10:07] dwightjack commented on #206
Published as `vue-types@4.2.0-rc.1`

[2022-03-03 10:02] dwightjack commented on #221
Done in #224 🎉

[2022-03-03 10:02] #221 closed, assigned to dwightjack, victorgarciaesgi

[2022-03-04 09:19] J3m5 opened #226 "validateType throw an error when used with shape"
Hello and thank you for this nice lib!

When trying to use validateType with a shape it throw an error

[code]

throw error:
`TypeError: Right-hand side of 'instanceof' is not an object`

Is this normal and there is another way of using validateType for shapes?

[2022-03-04 09:40] dwightjack commented on #226
Hi,

I think that the shape definition is not correct. It should be:

[code]

If you explicitly need `a` to be `1`, you might want to use the `number` validator:

[code]

[2022-03-04 10:01] J3m5 commented on #226
Oh, my bad, I see now, thank you!

[2022-03-16 10:05] #226 closed

[2022-06-08 11:14] nooooooom commented on #15
@dwightjack hi, Any good ideas about `VueTypes.element` now?

In my opinion, it just needs to satisfy the `h` function, it looks like,
[code]

[2022-07-23 02:41] dwightjack commented on #206
I totally forgot about this pending release.

Now it is published in stable: https://github.com/dwightjack/vue-types/releases/tag/4.2.0

[2022-07-29 04:53] bosens-China opened #284 "Set the def attribute, the props received by the component are still the default type"
[code]

[code]
output

![image](https://user-images.githubusercontent.com/39508895/181685263-5ea7f8fa-8177-4a54-9a67-9eefbfcf2fa4.png)

expect
[code]

[2022-07-31 06:33] dwightjack commented on #284
@bosens-China I think this behavior is related to Vue [boolean casting](https://vuejs.org/guide/components/props.html#boolean-casting).

In your case, the `undefined` default value is cast to `false`.

[2022-07-31 06:38] dwightjack commented on #15
@nooooooom In my experience a node prop is rarely used so I am not sure it's a good idea to add it to the library. Anyway, you can add your own validators using one of the [extension methods](https://dwightjack.github.io/vue-types/advanced/extending-vue-types.html). It might be something like:

[code]

[2022-07-31 07:16] nooooooom commented on #15
Thanks, it worked for me.

Using element as props in Vue is probably not a common practice.

[2022-07-31 13:31] bosens-China commented on #284
But when I show it in the following way, it's OK

[code]

to

[code]

[2022-08-01 02:21] #15 closed

[2022-08-01 04:42] dwightjack commented on #284
I see. In Vue, boolean props and _nullable_ are always a gray area. At the moment `.def(undefined)` deletes the default property if present, so, changing this behavior might be a breaking change for other users.

You can, anyway, create a custom validator to fit your case:

[code]

[2022-08-01 08:14] bosens-China commented on #284
😭
Is it possible to force the behavior of `def`
I have explicitly specified "undefined" above

[2022-08-02 23:12] dwightjack commented on #284
I took another look at the [source code](https://github.com/vuejs/vue/blob/1d8b892fcd9edcef1feeed74ad586beabb9f6df2/src/core/util/props.ts#L34). It is probably an edge case related to the boolean type, so I think I could allow explicitly setting the default to `undefined` only for `bool()` 🤔.

[2022-08-04 03:50] dwightjack commented on #284
After further investigation, I think this is a breaking change. I will keep the issue open and see if other users think this feature is useful (cc @victorgarciaesgi).

For the moment, the suggestion is to use a custom validator.

[2022-08-05 15:22] bosens-China commented on #284
https://github.com/dwightjack/vue-types/issues/71

Found the same problem, I think it is still necessary, whether it is possible to determine the behavior of `def` by registering the global configuration

[code]

[2022-08-08 05:47] dwightjack commented on #284
Hi, I plan to release this change with version 5. At the moment I published it as a beta version: `vue-types@5.0.0-beta.1`.

let me know if it works as expected.

[2022-08-10 10:54] bosens-China commented on #284
test later,But can other types be forced to specify `undefined ` this is in line with the official documentation
[code]

[2022-08-10 12:46] dwightjack commented on #284
If I understand correctly, boolean prop types are the only one where the value is casted if a default property is not defined. In all other cases, if the prop does not have a default property, the prop value is anyway `undefined` (https://github.com/vuejs/vue/blob/00458cd38d209410d3c675729230a42a0a34a4b9/src/core/util/props.ts#L70).

I think that the validators (used as named imports) does not for

[2022-08-11 02:19] bosens-China commented on #284
You're right

[2022-08-11 02:19] #284 closed

[2022-08-11 02:20] bosens-China commented on #284
[code]

-----------------
[code]

[2022-08-22 10:11] tiku91 opened #289 "Wrong documentation for number prop default"
**Describe the bug**
Wrong documentation for number prop default

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://dwightjack.github.io/vue-types/guide/validators.html#native-validators
2. The section says:
[code]

**Expected behavior**
According to the tests, this should be
`// numProp === { type: Number }`
or
`// numProp === { type: Number, default: undefined}`

**Library versi

[2022-08-23 04:28] dwightjack commented on #289
Fixed in https://github.com/dwightjack/vue-types/commit/86412ea294b99457fbb7dee132283f973456111a and published (might need to clean the cache to see it).

[2022-08-23 04:28] #289 closed

[2022-11-22 08:31] dwightjack commented on #147
Support for union types in `oneOf` has been added in version 5 and is now available in `vue-types@5.0.0-rc.1`.

Reference:
- https://github.com/dwightjack/vue-types/pull/286